.container{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
/* .label{
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
.container .row{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
}
.container .dish{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid white;
}
.pasta{
    background-color: #ee9972;
}
.pizza{
    background-color: #f4ce14;
}
.burito{
    background-color: #495e57;
}
.noodle{
    background-color: skyblue;
}
